<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleship_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleship_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleship_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{409,1},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleship_blue_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleship_blue_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battleship_blue.png</string>
            <key>size</key>
            <string>{510,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa61420048bdc0dba389bf3d90ae6b38:3177271a87a2c5f1197e4cf4748a7b82:9c1c719a9e5e635e5aa478f16bfe1928$</string>
            <key>textureFileName</key>
            <string>battleship_blue.png</string>
        </dict>
    </dict>
</plist>
