<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomb_1_Explosion_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{406,1},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomb_1_Explosion_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{248,1},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomb_1_Explosion_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{327,1},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomb_1_Explosion_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{167,1},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomb_1_Explosion_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bomb_1_Explosion_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{84,1},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mineExplosion.png</string>
            <key>size</key>
            <string>{482,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:695a0eb3b9a2ca891ff3d4bdce883696:4778ed2a791001ffa0a255589eb9328e:158e34623614e3832a5d0a4ea5aec9a6$</string>
            <key>textureFileName</key>
            <string>mineExplosion.png</string>
        </dict>
    </dict>
</plist>
