<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Missile_1_Flying_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,55},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,109},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,163},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,217},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile_1_Flying_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{1,271},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile.png</string>
            <key>size</key>
            <string>{16,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7043bd7d915c336b359a8c4ca6b1dea4:489dca028d6a7ce670d239a2c9ce9fe1:af37c4845d2c513b46d67342119e9e19$</string>
            <key>textureFileName</key>
            <string>missile.png</string>
        </dict>
    </dict>
</plist>
